* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-white: #ffffff;
    --light-grey: #d8d8d8;
    --light-purple: #8758FF;
    --dark-purple: #3d2183;
    --light-black: #181818;
    --light-sec-black: #1e1e1e;
}

/* New Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-purple);
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-black);
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    color: var(--default-white);
}

/* Navbar */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav {
    background-color: var(--light-sec-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15% 20px 15%;
    border-bottom: 2px solid var(--light-purple);
}

nav ul li {
    list-style: none;
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: var(--default-white);
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.3s;
}

nav a:hover {
    color: var(--light-purple);
}

nav ul {
    display: flex;
}

nav h2 {
    padding: 10px;
}

#surname {
    color: var(--light-purple);
}

/* Responsive Navbar */
.checkbtn {
    font-size: 30px;
    color: var(--light-purple);
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
  display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    background-color: var(--light-sec-black);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: var(--default-white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: .3s ease-in;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Home */
.home,
.aboutme,
.myprojects,
.knowledges {
  padding: 6.5% 15%;
  min-height: 35vh;
}

.home-leftside {
    width: 50%;
    margin: 5rem 0;
}

.home-rightside {
    width: 40%;
    margin: 2rem 0;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-height: 60vh;
}

.home a {
    text-decoration: none;
}

.home p {
    color: var(--light-grey);
    font-size: 1.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

/* Type Name Text */
.home-type_name {
    font-size: 3rem;
    font-weight: 600;
    color: var(--light-purple);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.home-type_cursor {
  width: 3px;
  height: 42px;
  background-color: var(--default-white);
  display: inline-block;
  position: relative;
  top: 3px;
  animation: blink 0.6s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Home Button */
.home button {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 2px solid var(--light-purple);
}

.home button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.home button::before {
    content: "";
    background: linear-gradient(
        45deg,
        var(--light-purple), #ca58ff,
        var(--light-purple), #5CB8E4
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.home button:hover::before {
    opacity: 1;
}

/* Scroll down */
.scroll {
    position: absolute;
    bottom: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.scroll p{
    padding: 1rem 0;
    display: inline-block;
    font-size: 12px;
}

.scroll img {
    animation: scroll-down 3s infinite forwards;
}
  
@keyframes scroll-down {
    0% {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}

/* About me */
.aboutme {
    background-color: var(--light-sec-black);
    display: flex;
}

.aboutme h2 {
    padding: 20px;
}

.aboutme p {
    margin-left: 20px;
}

.aboutme p {
    color: var(--light-grey);
}

.aboutme img {
    max-width: 350px;
}

/* Project Button */
.projectBtn {
    display: grid;
    gap: 20px;
}

.projectBtn {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.projectBtn button {
    width: 100px;
    height: 50px;
    color: var(--default-white);
    border-radius: 6px;
    font-size: 24px;
    background: var(--light-sec-black);
    position: relative;
    cursor: pointer;
}

.projectBtn button:active {
    background: var(--dark-purple);
    transform: translateY(4px);
}

/* Projects */

.projects-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-bottom: 5rem;
}

.project-card {
    width: 90%;
}

.project-card h2 {
    margin-bottom: 2rem;
}

.project-card p {
    color: var(--light-grey);
    margin: 2rem 0;
}

.project-card span {
    color: var(--light-purple);
}

.project-image {
    border-left: 5px solid var(--light-purple);
    width: 100%;
    transition: 0.5s;
}

.project-image:hover {
    transform: scale(110%);
    border: 5px solid var(--light-purple);
    transition: .3s;
}

/* My Knowledge */
.knowledges {
    background-color: var(--light-sec-black);
    text-align: center;
}

.languages h2 {
    margin: 20px 0px;
}

.languages img {
    max-width: 40px;
    margin-left: 10px;
    transition: 0.5s;
}

.languages img:hover {
    transform: scale(140%);
    width: 100%;
    transition: 0.5s ease;
}

.aboutme-description button {    
    padding: 0.9em 1.6em;
    border: none;
    color: #FFF;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 1.3rem;
    background-color: var(--light-purple);
    border: 3px solid var(--light-black);
}

.aboutme-description a {
    color: #fff;
    font-family: inherit;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem 0;
}

footer p {
    color: var(--light-grey);
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: var(--default-white);
}

footer a:hover {
    color: var(--light-purple);
    transition: .3s;
}

/* Others */
::selection {
    background-color: var(--dark-purple);
}

/* Responsive */
@media (max-width: 1386px) {
    .home span {
        font-size: 2.6rem;
    }

    .home-type_cursor {
        height: 35px;
    }
}

@media (max-width: 1325px) {
    .home span {
        font-size: 2.2rem;
    }

    .home-type_cursor {
        height: 35px;
    }

    .home,
    .aboutme,
    .myprojects,
    .knowledges {
        padding: 6.5%;
    }

    .myprojects {
        padding-top: 0px;
    }

    .projectBtn {
        padding: 40px 0px 40px 0px;
    }

    .languages {
        position: relative;
        top: 0vh;
    }
}

@media (max-width: 884px) {
    .home,
    .aboutme,
    .myprojects,
    .knowledges {
        padding: 22% 0;
        text-align: center;
    }

    .home {
        flex-direction: column;
    }

    .home-leftside {
        width: 90%;
    }

    .home-rightside {
        display: none;
    }

    .aboutme {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .aboutme-photo {
        max-width: 80%;
    }

    .aboutme-description {
        width: 80%;
    }

    .projects-wrap {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 5%;
        margin-bottom: 10rem;
    }

    nav ul li {
        display: none;
    } 
    
    .checkbtn {
        display: block;
    }

    .dropdown {
        display: block;
    }
    
    .myprojects {
        padding-top: 5%;
    }

    .projectBtn {
        padding-bottom: 0px;
    }   

    .languages {
        position: relative;
        top: 5vh;
    }

    .aboutme-description button {
        position: relative;
        top: 2rem;
    }
}

@media (max-width: 512px) {
    .aboutme-buttons {
        display: flex;
    }
}

@media (max-width: 460px) {
    .home span {
        font-size: 1.8rem;
    }

    .home-type_cursor {
        height: 30px;
    }

    .aboutme-photo {
        max-width: 100%;
    }

    footer {
        font-size: 0.8rem;
    }
}
